h1 {
	font-family: 'Indie Flower', cursive;
	text-align: center;
	background-color: black;
	border-color: red;
	font-size: 35px;
	padding: 35px;
}
h2 {
	font-family: 'Indie Flower', cursive;
	text-align: center;
	font-size: 25px;
	padding: 2px 5px 2px 5px;
	margin: 0;
}
h4 {
	font-weight: bold;
	padding: 2px 5px 2px 5px;
}
p {
	display: flex;
	font-family: 'Shadows Into Light', cursive;
	font-size: .95em;
	text-align: center;
	margin: 2px 5px 2px 5px;
	padding: 2px 5px 2px 5px;
	flex-wrap: wrap;
	color: black;
	float: right;
}

body {
	
	
}
nav {
	diplay: flex;
	font-family: 'Shadows Into Light', cursive;
	font-size: 1.2em;
	text-align: center;
	flex-wrap: wrap;
	padding: 15px;


}
ul li {
	display: inline;
	padding: 50px;
	text-align: center;
}

.headline {
	color: red;
	margin: 10px;
	padding: 20px;



}

.name a {
	color: red;
}
.main-nav a {
	color: red;
}
a:hover {
	color: black;
}

.name a:hover {
	color: blue;
}
body {
}
.column {
	text-align: center;
	display: inline;
}

#video {
	text-align: center;

}



/***   background image code

html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


******/